.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    > textarea {
        height: 400px;
        width: 600px;

        border-radius: 10px;
    }
    > button {

        height: 60px;
    }
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}